<nav>
    <div>
        <a href="/">Home Page</a>
        <a href="/games">Browse Collections</a>
        <% if(user && user.isAdmin){ %>
        <!-- <a href=""> Favourites</a> -->
        <a href="/games/new">New Game</a>
        <% } %>
    </div>
    <div >
    <%if(user){%>
    
    <a href="/auth/sign-out">Sign out</a>
    <!-- <a href="/profile">Profile</a>  -->

    <% }else{ %>

    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
    </div>
</nav>
