<div id="popup">
    <div class="alert-box">
        <form action="" method="post" id>
            <p></p>
            <div class="buttons">
                <button type="button" id="hide">Cancel</button>
                <button type="submit">Delete</button>  
            </div>
            
        </form>
    </div> 
</div>