@import url('../font-awesome-4.7.0/css/font-awesome.min.css');
.gameContainer{
    width: 250px;
    height: 250px;
    border: 1px solid black ;
}
.gameBackground{
    height: 50%;
}


#games{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
