@import url('../font-awesome-4.7.0/css/font-awesome.min.css');
body{
    height: 100vh;
    width: 100vw;
    z-index: 0;
    margin: 0;
}
#popup{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
form button[type ="submit"]{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 16px;
}
form button[type ="button"]{
    border: 3px solid black;
    padding: 10px;
    border-radius: 16px;
}
.alert-box{
    background-color: white;
    padding: 20px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.reviewHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reviewOptions{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    justify-self: flex-end;
}
#reviewForm {
    display: none;
}

#ratingInput{
    display: none;
}

