@import url('../font-awesome-4.7.0/css/font-awesome.min.css');
body{
    /* min-height: 100vh; */
    /* width: 100vw; */
    z-index: 0;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
}
nav div a{
    color: white;
}
#design, #gallery{
    height: 100vh;
    /* width: 100vh; */
    padding: 10px;
    color: white;
}
#popup{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
form button[type ="submit"]{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 16px;
}
form button[type ="button"]{
    border: 3px solid black;
    padding: 10px;
    border-radius: 16px;
}
.alert-box{
    background-color: white;
    padding: 20px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.gameBackground{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    /* margin: 0; */
    width: 100%;
    z-index: -1;
}
#gallery{
    display: flex;
    flex-direction: column;
}
.galleryBackground{
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.imageButtons{
    display: flex;
    align-self: center;
    gap: 20px;
}
.imageButtons i{
    font-size: 40px;
}
.review{
    border-top: 2px solid gray;
    width: 800px;
}
.reviewHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reviewOptions{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 5px;
    /* position: fixed; */
    z-index: 2;
    justify-self: flex-end;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#reviewForm {
    display: none;
}

#ratingInput{
    display: none;
}

