*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

a{
    color: black;
    text-decoration: none;
}
#page-content{
    position: fixed;
}

.message, .error{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 2px solid black;
    gap: 5px;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    bottom: 50px;
    box-sizing: border-box;
}
.message p, .error p{
    padding: 5px;
}
.message button, .error button{
    border: hidden;
    border-left: 2px solid black;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
}

.logo{
    height: 100px;
    width: 100px;
}