nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-content{
    position: fixed;
}

.message, .error{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 3px solid black;
    gap: 5px;
    padding: 5px;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50px;
}
.message button, .error button{
    border: hidden;
    border-left: 2px solid black;
    background-color: transparent;
}

.logo{
    height: 100px;
    width: 100px;
}