nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-content{
    position: fixed;
}

#message{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 3px solid black;
    gap: 5px;
    padding: 5px;
}
#message button{
    border: hidden;
    border-left: 2px solid black;
    background-color: transparent;
}