<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/forms.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <h1>New Game</h1>
        <form action="/games" method="POST" enctype="multipart/form-data">
            <div class="form-elem">
                <label for="name">Game Name</label>
                <input type="text" name="name" id="" required>
            </div>
            <div class="form-elem">
                <label for="gameIcon">Add game Icon</label>
                <input type="file" name="gameIcon">
            </div>
            <div class="form-elem">
                <label for="backgroundImage">Add game page background Image</label>
                <input type="file" name="backgroundImage">
            </div>
            <div class= "form-elem" id="gallery-div">
                <label for="gallery">More media </label>
                <input type="file" name="gallery" id="gallery-input" multiple>
            </div>
            
            <button type="submit">Submit</button>

        </form>

    </div>
    <div id="decoration">

    </div>

</body>

</html>